.wp-block-hotspot-image-hotspot {
	border: 1px dotted #f00;
}

// Color palette
.wp-image-color-palette {
	margin-bottom: 16px;

	.wp-image-color-item {
		position: relative;
	}

	.wp-image-color {
		border: 1px solid #00000024;
		width: 28px;
		height: 28px;
		border-radius: 50%;
		transition: 0.2s all ease-in-out;

		&:hover {
			transform: scale(1.1);
		}
	}
}
