.wp-block-hotspot-image-hotspot {
}

// Color palette
.wp-image-color-palette {
	margin-bottom: 16px;

	.wp-image-color-item {
		position: relative;
		border: 2px solid transparent;
		padding: 2px;
		border-radius: 50px;
	}

	.wp-image-color {
		border: 1px solid #00000024;
		width: 28px;
		height: 28px;
		border-radius: 50%;
		transition: 0.2s all ease-in-out;

		&:hover {
			transform: scale(1.1);
		}
	}

	.is-selected {
		border-color: #e6e6e6;

		button {
			position: relative;

			&::after {
				content: "✓";
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				color: #fff;
			}
		}
	}
}

// Inspector controls
.wp-image-hotspot-inspector {
	border-bottom: 1px solid #a3a3a3;
	padding-bottom: 16px;
}
